/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
    --accent-color:#fcb72b;
    --text-color: #939caa;
    --title-color: #495567;
    --light-grey:#e5ecf4;
    --snow:#f2f5f9;
    --light-yellow:#fff4df;
    --dark-grey:#333A44;
    
    /* FONTS */
    --mono-font:"Space Mono","Arial",sans-serif;
    --lexend-deca:"Lexend Deca","Arial",sans-serif;
    
}


/*WEB FONTS RELATED*/
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: 
    url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"), 
    url("../fonts/space-mono-v6-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: 
    url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"), 
    url("../fonts/space-mono-v6-latin-700.woff") format("woff");
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src:
    url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2")
    url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff"); 
}


/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Lexend Deca","Arial",sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color);
    background-color: #fff;
    overflow-x: hidden;
}

.container{
    width: 1156px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* SITE-HEADER */
.site-header__container{
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 21px;
}

.logo-link{
    margin-right: 58px;
}

.logo{
    display: block;
}

.site-nav__list{
    display: flex;
    list-style: none;
}

.site-nav__item{
    margin-right: 32px;
}

.header-link{
    display: inline-block;
    text-decoration: none;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

.header-link:hover{
    color: #fcb72b;
}

.site-nav__link{
    color: var(--text-color);
}

.site-header__link{
    padding: 14px 39px;
    margin-left: auto;
    color: #fff;
    background-color: #fcb72b;
}

.site-header__link:hover{
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #fcb72b;
}


/* MAIN */
/*  HERO */
.hero{
    color: #fff;
    background-image: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url(../img/site-hero-bg-scoot.png);
    background-size: 2600px;
    background-repeat: no-repeat;
    background-position: calc(50% + 305px) 89%;
    padding-top: 153px;
    padding-bottom: 152px;
}

.hero__title{
    font-family: "Space Mono";
    width: 500px;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    margin: 0;
    margin-bottom: 40px;
}

.hero__text{
    position: relative;
    width: 405px;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    margin-bottom: 40px;
    margin-left: 95px;
}

.hero__text::before{
    position: absolute;
    top: 44px;
    left: -245px;
    content: "";
    display: inline-block;
    width: 203px;
    height: 15px;
    background-image: url(../img/site-hero-horizontal-line.svg);
    background-size: contain;
}

.hero__text::after{
    position: absolute;
    top: 43px;
    right: -485px;
    content: "";
    display: inline-block;
    width: 450px;
    height: 152px;
    background-image: url(../img/yellow-arrow-to-right.svg);
    background-size: 750px;
    background-position: -299px 0;
    background-repeat: no-repeat;
}

.hero__link{
    position: relative;
    margin-left: 95px;
}

.hero__link::after{
    position: absolute;
    top: -20px;
    right: -1000px;
    content: "";
    display: inline-block;
    width: 233px;
    height: 62px;
    background-image: url(../img/site-hero-bg-circles.svg);
    background-size: contain;
}


/* ADVANTAGES */
.advantages{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 160px;
    padding-bottom: 200px;
}

.advantages::before{
    position: absolute;
    content: "";
    display: block;
    width: 974px;
    height: 15px;
    background-color: #E5ECF4;
    z-index: -1;
    top: 200px;
    left: -100px;
}

.advantages__card{
    width: 350px;
}

.advantages__card:not(:nth-child(3n)){
    margin-right: 28px;
}

.advantages__title{
    font-weight: bold;
    font-size: 24px;
    font-family: "Space Mono";
    line-height: 28px;
    letter-spacing: -1.07143px; 
    color: #495567;
    margin: 0;
    margin-bottom: 27px;
}

.advantages__title::before{
    content: "";
    display: block;
    width: 96px;
    height: 96px;
    background-color: #fcb72b;
    background-image: url(../img/locate-with-app.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin-bottom: 40px;
}

.advantages__text{
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    margin: 0;
}


/* OUR VALUES */
.our-values__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 40px;
    margin: 0;
    list-style: none;
}

.our-values__item{
    display: block;
    margin-bottom: 160px;
}

.our-values__container{
    position: relative;
    width: 445px;
    padding-top: 67px;
    padding-bottom: 66px;
}

.our-values__container::after{
    position: absolute;
    top: 0;
    right: -1210px;
    content: "";
    display: inline-block;
    width: 990px;
    height: 445px;
    background-repeat: no-repeat;
}

.telemetry::after{
    background-image: url(../img/easu-to-use-riding-telemetry.png);
}

.telemetry::before{
    position: absolute;
    bottom: 0;
    right: -830px;
    content: "";
    display: inline-block;
    width: 739px;
    height: 150px;
    background-image: url(../img/yellow-arrow-to-left.svg);
    background-repeat: no-repeat;
    z-index: 2;
}

.near-city{
    margin-left: auto;
}

.near-city::after{
    left: -1190px;
    background-image: url(../img/Coming-to-a-city-near-you.png);
}

.near-city::before{
    position: absolute;
    top: 0;
    right: 925px;
    content: "";
    display: inline-block;
    width: 739px;
    height: 150px;
    background-image: url(../img/yellow-arrow-to-right.svg);
    background-repeat: no-repeat;
    z-index: 2;
}

.payment::after{
    background-image: url(../img/zero-hassle-payments.png);
}

.payment::before{
    position: absolute;
    top: 85px;
    right: -1214px;
    content: "";
    display: inline-block;
    width: 739px;
    height: 150px;
    background-image: url(../img/yellow-arrow-to-left.svg);
    background-repeat: no-repeat;
    z-index: 2;
}

.our-values__title{
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--title-color);
    margin: 0;
    margin-bottom: 24px;
}

.our-values__text{
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 40px;
}


/* SITE-FOOTER */
/* SIGN UP */
.sign-up{
    background-color: var(--title-color);
}

.sign-up__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 102px;
    padding-bottom: 102px;
}

.sign-up__title{
    width: 415px;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #fff;
    margin: 0;
    margin-right: auto;
}

.sign-up__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.sign-up__item{
    margin-left: 18px;
}

.sign-up__img{
    display: block;
}


/* FAQ */
.faq{
    background-color: var(--dark-grey);
}

.faq__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 33px;
}

.faq__logo-link{
    margin-right: 19px;
}

.faq__link{
    text-decoration: none;
    font-family: var(--mono-font);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color);
}

.faq__item{
    margin-right: 32px;
}

.faq__list-icon{
    margin-left: auto;
}

.faq__item-icon{
    margin-left: 24px;
}


/* PAGE ABOUT */
.about-info{
    padding: 72px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image:linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url("../img/about-bg.png");
    background-size: cover;
    margin-bottom: 120px;
}
.about-title{
    margin: 0;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    font-family:"Space Mono","Arial",sans-serif;
    color: #fff;
    position: relative;
}
.about-title::after{
    content: "";
    width: 234px;
    height: 63px;
    position: absolute;
    top: 0;
    left: 1080px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/site-hero-bg-circles.svg");
}


/* SERVICES */
.service{
    width: 445px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 160px;
}
.service-info__title{
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 48px;
    font-family: var(--mono-font);
    color: var(--title-color);
    letter-spacing: -2.14286px;
    position: relative;
}
.service-info__text{
    margin: 0;
    margin-bottom: 40px;
}
.service-info__btn{
    display: inline-block;
    text-decoration: none;
}
.service-info__title::after{
    content: "";
    width: 1080px;
    height: 445px;
    display: block;
    position: absolute;
    left: 135%;
    top: -70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
}
.service-info__title::before{
    content: "";
    width: 735px;
    height: 138px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.easy-title::before{
    background-image: url("../img/yellow-arrow-to-left.svg");
    position: absolute;
    left: 125%;
    top: 220px;
    z-index: 1;
}

.easy-title::after{
    background-image: url("../img/easu-to-use-riding-telemetry.png");
}
.coming-title::before{
    background-image: url("../img/yellow-arrow-to-right.svg");
    position: absolute;
    left: -250%;
    top: -70px;
    z-index: 1;
}

.coming-title::after{
    background-image: url("../img/coming-to-a-city-near-you.png");
    position: absolute;
    left: -280%;
    top: -70px;
}
.payment-title::before{
    background-image: url("../img/yellow-arrow-to-left.svg");
    position: absolute;
    left: 125%;
    top: 220px;
    z-index: 1;
}

.payment-title::after{
    background-image: url("../img/zero-hassle-payments.png");
   
}
.coming-info{
    margin-left: auto;
}


/* VALUE_SECTION */
.values{
    margin-bottom: 120px;
}
.values__title{
    margin: 0;
    margin-bottom: 48px;
    font-weight: bold;
    color:var(--title-color);
    font-family: var(--mono-font);
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
}
.values__container{
    display: flex;
    align-items: center;
}
.value-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.value-item{
    width: 350px;
    text-align: center;
}
.value-list:not(:last-child){
    margin-right: 30px;
}
.number-value{
    margin-bottom: 32px;
    padding: 35px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: inline-block;
    font-weight: bold;
    font-family: var(--mono-font);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: var(--title-color);
}

.value-item__title{
    margin: 0;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 24px;
    font-family: var(--mono-font);
    line-height: 28px;
    color: var(--title-color);
    text-align: center;
    letter-spacing: -1.07143px;
}
.value-item__text{
    margin: 0;
}
.value-list::before{
    content: "";
    width: 240px;
    height: 240px;
    display: block;
    background-position: center center;
    position: relative;
    top: 50px;
    right: -13%;
    z-index: -1;
    
}
.value-tech::before{
    background-image: url("../img/phone-writing.png");
    
    background-repeat: no-repeat;
}
.value-integrity::before{
    background-image: url("../img/riding-bike.png");
    
    background-repeat: no-repeat;
}
.value-community::before{
    background-image: url("../img/people-walk.png");
    
    background-repeat: no-repeat;
}

/* FAQS__SECTION */
.faqs-section{
    padding-bottom: 160px;
}

.faqs-section__title{
    margin: 0;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: var(--title-color);
    font-family: var(--mono-font);
    text-align: center;
    letter-spacing: -2.14286px;
}
.how-it-works{
    display: flex;
    align-items: start;
}
.how-it-works:not(:last-child){
    margin-bottom: 64px;
}
.how-it-works__title{
    margin: 0;
    color: var(--title-color);
    font-family: var(--mono-font);
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
}
.work-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 730px;
    margin-left: auto;
}
.work-item{
    padding: 32px 40px;
    background-color: var(--snow);
    color: var(--title-color);
    position: relative;
}
.work-item::after{
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/down.png");
    position: absolute;
    top: 42px;
    right: 30px;
}
.work-item:active::after{
    transition:ease 0.3s;
    transform: rotate(180deg);
}

.work-item:hover{
    background-color: var(--light-yellow);
}

.work-item:active .work-item__text{
    display: block;
    margin-top: 24px;
}

.work-item:not(:last-child){
    margin-bottom: 16px;
}
.work-item__title{
    margin: 0;
    font-weight: bold;
    font-family: var(--mono-font);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
}
.work-item__text{
    margin: 0;
    display: none;
}

.safe-driving{
    display: flex;
    align-items: start;
}